<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BasePublic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BaseTinyPublic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CommonCorePublic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DivKit-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DivKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DivKitExtensions.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>DivKitPackageDescription.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LayoutKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>LayoutKitInterface.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>NetworkingPublic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Serialization.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>VGSL_Fundamentals.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>VGSL_Fundamentals_Tiny.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>vgslPackageDescription.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>divkit-ios::DivKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>divkit-ios::DivKitExtensions</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>divkit-ios::LayoutKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>divkit-ios::LayoutKitInterface</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>divkit-ios::Serialization</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>divkit-ios::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>vgsl::BasePublic</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>vgsl::BaseTinyPublic</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>vgsl::CommonCorePublic</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>vgsl::NetworkingPublic</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>vgsl::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>vgsl::VGSL_Fundamentals</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>vgsl::VGSL_Fundamentals_Tiny</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
